<div class="header">
  <div class="header-left">
    <!-- <i class="fas fa-bars" style="color: red"></i> -->
    <a routerLink="header">
      <img class="header-logo" src="http://pngimg.com/uploads/youtube/youtube_PNG21.png" alt="youtube logo" />
    </a>
  </div>

  <div class="header-input">
    <input className="header-searchInput" type="text" placeholder="Search" />
    <button class="header-inputbutton">search</button>
  </div>
  <div class="header-icons">
    <p class="header-icon">c</p>
    <p class="header-icon">ya</p>
    <p class="header-icon">n</p>
    <p class="header-icon">tp</p>
  </div>
</div>